AddDefaultCharset UTF-8 

Options -Indexes

php_flag magic_quotes_gpc Off 
php_flag magic_quotes_runtime Off
php_flag register_globals Off
 
# php_flag log_errors on  
# php_flag display_errors off  

RewriteEngine    on 

RewriteCond %{REQUEST_URI} !^/favicon.ico 
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]