div.fluid{width:90% !important;}
div.fixed{width:1050px !important;}

.grayLink       { text-decoration: none; color: #585858; }
.grayLink:hover { text-decoration: none; color: #F16C00; }

*{margin:0em;padding:0em;}

body{background-color:#fff;color:#585858;font-size:9pt;font-family:"Vernada", helvetica, sans-serif;}

h1,h2,h3,h4,h5,h6{font-weight:normal;letter-spacing:-1px;}
h3,h4,h5,h6{color:#184366;}

h1 span{font-weight:bold;}
h3 span{font-weight:bold;}
h4 span{font-weight:bold;}

br.clear{clear:both;}

img{padding:0px}
img.floatTL{float:left;margin-right:1.5em;margin-bottom:1.5em;margin-top:0.5em;}

a{text-decoration:underline;color:#F16C00;}
a:hover{text-decoration:none;}

ul.links{list-style:none;}
ul.links li{line-height:2em;}
ul.links li.first{}
th, td{text-align:left}

p{line-height:1.8em;}

#header{width:100%;height:122px;background: #440000 url('/skins/ru/images/n1.gif') repeat-x;}
#header_inner{position:relative; width:950px;height:122px;margin:0 auto;}

#logo{position:absolute;bottom:0.6em;color:#fff;}
#logo h1{display:inline;color:#fff;font-size:2.6em;}
#logo h2{display:inline;padding-left:0.5em;color:#D2DCE5;font-size:1.0em;}

#menu{position:absolute; right:0em;bottom:0em;}
#menu ul{list-style:none;}
#menu li{float:left;}
#menu li a{margin-left:0.5em; display:block;padding:1.1em 1.4em 1.0em 1.4em;background: #FF790B url('/skins/ru/images/n3.gif') repeat-x;border:solid 1px #DB7623;color:#fff;font-weight:bold;font-size:1.0em;text-transform:lowercase;text-decoration:none;}
#menu li a.active{background: #fff url('/skins/images/ru/n4.gif') repeat-x;color:#616161;border:solid 1px #fff;}

#main{background: #fff url('/skins/ru/images/n2.gif') 0px 1px repeat-x; min-height:300px}
#main_inner{position:relative; width:1050px;margin:0 auto;padding-top:3.5em;}
#main_inner p{text-align:justify;margin-bottom:2.0em;}
#main_inner ul{margin-bottom:2.0em;}
#main_inner h3,h4{border-bottom:dotted 1px #E1E1E1;position:relative;}
#main_inner h3{font-size:2.1em;padding-bottom:4px;margin-bottom:4px;}
#main_inner h4{font-size:1.2em;padding-bottom:4px;margin-bottom:4px;margin-top:0.95em;}

#primaryContent_2columns{position:relative;margin-right:22em;}
#columnA_2columns{position:relative;float:left; width:100%;margin-right:-22em;padding-right:2em;}
#secondaryContent_2columns{float:right;}
#columnC_2columns{width:18.0em;float:left;padding:0em 0em 0.5em 2em;border-left:dotted 1px #E1E1E1;}
#primaryContent_columnless{position:relative;}
#columnA_columnless{position:relative; width:100%;}

#columnC_2columns a.active{color:#0000FF}
#info {position:relative;color:red;border:1px dotted red;background:#FFD5F5;padding:10px;margin:10px}

.comments {border:#958EA4 1px solid; margin:1px; padding:5px;background:#E8E8E8}



#footer{width:950px;margin:0 auto;text-align:center;clear:both;border-top:dotted 1px #E1E1E1;margin-top:1.0em;margin-bottom:1.0em;padding-top:1.0em;text-transform:lowercase;}

















